{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}TCPDUMP BOT{% endblock %}

{% block content %}
<div class="page-header">
    {% if tcpdump_on %}
        <h1>TCPDUMP is running</h1>
    {% else %}
        <h1>TCPDUMP is not running</h1>
    {% endif %}
</div>

<div class="container">
    {% block page_content %}

            {% if tcpdump_on %}
                <p>TCPDUMP is running and is currently saving to filename: {{ filename }}</p>
            {% endif %}
            {{ wtf.quick_form(form) }}
        

        <!--{% if tcpdump_on %}
            <a href="tcpdump_stop" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Stop TCPDUMP</a>
        {% else %}
            <a href="tcpdump_run" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Start TCPDUMP</a>
        {% endif %}-->
    
    {% endblock %}
</div>
<p>The local date and time is {{ moment(current_time).format('LLL') }}.</p>
<p>That was {{ moment(current_time).fromNow(refresh=True) }}.</p>
{% endblock %}